.group-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #787878;
  font-family: "Noto Sans", sans-serif;
}

.member {
  width: 40%;
  margin: 1rem;
  padding: 1.875rem;
  background-color: #12151d;
  border-radius: 20px;
  text-align: center;
}

.member img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.member p {
  margin-top: 1rem;
  font-weight: bold;
  color: #00dd16;
}
