nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #787878;
  font-family: "Noto Sans", sans-serif;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link:hover {
  color: #00dd16;
}
